* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1,
h2 {
    color: #072515;
}

a {
    text-decoration: none;
}

.card {
    padding: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}

body>header {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0 0 25px 25px;
    background-color: #97db7b;
    border-bottom: 3px solid #28DF99;
}

.jumbotron {
    text-align: center;
}

header nav {
    height: 90px;
    padding-inline: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    height: 70%;
}

.button {
    padding: 12px 45px;
    color: white;
    background-color: #153B44;
    border-radius: 25px;
}

.button:hover {
    background-color: #0b5161;
}

main {
    padding: 40px;
    overflow: auto;
}

#content {
    width: 68%;
    float: left;
    font-size: 17px;
}

aside {
    width: 30%;
    float: right;
    border-top: 1px solid #071C21;
    border-radius: 5px;
}

aside header {
    text-align: center;
}

aside .profile-image {
    width: 200px;
}

aside section {
    text-align: center;
}

footer {
    margin-top: 20vh;
    padding: 40px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    border-top: 3px solid #28df7a;
    background-color: #8dd371;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1170px) {
    .button {
        padding: 10px 39px;
    }

    main {
        padding: 25px;
    }

    #content {
        width: 50%;
        padding-right: 0;
    }

    aside {
        width: 47%;
    }

    aside .profile-image {
        width: 160px;
    }
}

@media screen and (max-width: 600px) {
    .jumbotron {
        font-size: 12px;
    }

    .button {
        padding: 9px 30px;
        font-size: 13px;
    }

    header nav {
        padding: 5px 20px;
    }

    header nav .logo {
        height: 50%;
    }

    #content {
        width: 100%;
        float: none;
    }

    aside {
        width: 95%;
        margin: 20vh auto 0;
        padding-block: 35px;
        float: none;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        background-color: #e2e2e269;
    }

    aside .profile-image {
        width: 170px;
    }
}